<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
     <meta charset="UTF-8">
    <title>担当者アカウント登録(確認)</title>

    </head>

<body>
    <div th:replace="~{admin/common/header :: header}"></div>
    <main class="container">
    <h1 class="page-title">
        アカウント登録(確認)
    </h1>
    <form th:action="@{/admin/account/complete}" method="post" th:object="${employeeAccount}"></form>
    <table>
        <tr>
            <td>社員名</td>
        <td><span th:text="${empName}"></span></td>
        </tr>
        <tr>
            <td>アカウント名</td>
        <td><span th:text="${accountName}"></span></td>
        </tr>
        <tr>
            <td>パスワード</td>
        <td><span th:text="${#strings.repeat('*', password.length())}">**********</span></td>
        </tr>
    </table>

                <input type="hidden" th:field="*{empName}">
                <input type="hidden" th:field="*{accountName}">
                <input type="hidden" th:field="*{password}">

      
            <div class="form-actions">
                <a th:href="@{/admin/account/form}" class="link-cancel" >キャンセル</a> 
                <button th:formaction="@{/admin/account/form}" type="submit" name="backButton" method="get" class="btn-primary">戻る</button>
                <button  type="submit" name="registerButton" method="post" class="btn-primary">登録</button>
                </div>
                

    </form>
    </main>
        <span th:each="error : ${#fields.detailedErrors()}"> 
          <span th:text="${error.message}"></span><br/> 
        </span>
    </div>
     <div th:replace="~{admin/common/footer :: footer}"></div>
</body>
</html>