<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>システムエラー</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>

    <!-- 上部ヘッダー（共通部品の呼び出し） -->
    <div th:replace="~{admin/common/header :: header}"></div>

    <!-- メインコンテンツ-->
    <main class="main-content">
        <div class="system-error-container">
            <h1 class="system-error-title">システムエラー</h1>

            <!-- ハンドラーから送られてきたエラーメッセージを表示 -->
            <div class="system-error-box">
                <p th:text="${errorMessage}"></p>
            </div>

            <!-- メニューに戻るリンク -->
            <div class="system-error-link-area">
                <a th:href="@{/admin}" class="system-error-back-link">» メニュー画面に戻る</a>
            </div>
        </div>
    </main>

    <!-- 下部フッター（共通部品の呼び出し） -->
    <div th:replace="~{admin/common/footer :: footer}"></div>

</body>

</html>